<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CodeFooiOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2F3ABDE51D3EEC8900E3908C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2F3ABDF91D3EEC8900E3908C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2F3ABE041D3EEC8900E3908C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
